*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

html,
body, 
#root{
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

main .left, main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.4rem;
}

main .left{
  background-color: black;
  position: relative;
}

.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  color: white;
  background-color: #0c0c0c;
}

main .left .review{
  position: absolute;
  bottom: 0.7rem;
  right: 0.7rem;
  background-color: rgb(174, 174, 255);
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.4rem;
}

main .right{
  background-color: rgb(44, 44, 44);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  overflow: auto;
  color: white;
}